{% extends 'base.html' %}
{% block title %}Login{% endblock title %} 
{% block body %}
{% load static %}

{% if messages %}

<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
  <strong> {% for message in messages %}
  {{message}}
  {% endfor %}</strong> 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

  
<div class="container-fluid  mx-auto" style="padding: 10">
  <div class="img-fluid mx-auto " alt="Responsive image"
      style=" background-image: url('{% static '/login.jpg' %}')">
  <div class="container ">
    <div class="row body ">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body body ">
            <h5 class="card-title text-center">Sign In</h5>
            <form  class="bg-transparent" action ="login"  method="POST">
            {% csrf_token %}
              <div class="form-label-group mt-4">
                <input type="text" id="inputusername" class="form-control" name="username" placeholder="username" required autofocus>
                <label for="inputEmail">username</label>
              </div>

              <div class="form-label-group mt-4">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase float-center" type="submit">Sign in</button>
              <hr class="my-4 mt-5">
              <p class="text-center text-muted mt-5 mb-0">Dont have an account? <a href="signup" class="fw-bold text-body"><u>Register here</u></a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock body %}



